<div class="container-fluid dashboard" >
   <div class="row main-content">
      <div class="col-sm-2 letter-color background">
         <div class="row nav-section">
            <div class="col-sm-12 logo">
              <img src="../../assets/images/logo.png" width="150" height="100" alt="Logo">
            </div>
            <div class="col-sm-12 nav-content">

               <a class="nav-links overview" href="/home/{{route}}">
                  <img src="../assets/images/view_icon.png" alt="Overview" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Overview</div>
               </a>
               <a class="nav-links units" href="/units/{{route}}">
                  <img src="../assets/images/home_icon.png" alt="Units" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Units</div>
               </a>
               <a class="nav-links inspection" href="/inspection/{{route}}">
                  <img src="../assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Inspections</div>
               </a>
               <a class="nav-links template" href="/templates/{{route}}">
                  <img src="../assets/images/temp_icon.png" alt="Template" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Templates</div>
               </a>
               <a class="nav-links report" href="/reports/{{route}}">
                  <img src="../assets/images/rep_icon.png" alt="Report" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Reports</div>
               </a>
            </div>
            <div class="col-sm-12 company-info">
               Hometeam Property Management
            </div>
         </div>
      </div>
      <div class="col-sm-10 main">
        <div class="row adminT">
              <div class="col-sm-2">
                <div style="color: #33658A; margin-top:15px; margin-bottom:35px;" class="backBtn" onclick="goBack()">
                  <i class="fas fa-caret-square-left fa-4x"></i>
                </div>
              </div>
              <div class="col-sm-8"><h1 id="adminTitle">Manager(username) Admin Page </h1></div>
              <div class="col-sm-2 logOut" style="margin-bottom:15px;">
                <i class="fas fa-sign-out-alt fa-4x"></i>
              </div>
        </div>
        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <button class="addUser login100-form-btn adminBtn" href="#addUserModal"><h3>Add User</h3></button>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-5"><h3>Upcoming Inspections</h3></div>
        </div>
        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <button class="delUser login100-form-btn adminBtn" href="#deleteModal"><h3>Delete User</h3></button>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-5"><h3>Completed Inspections</h3></div>
        </div>
        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <button class="editUser login100-form-btn adminBtn" href="#editModal"><h3>Edit User</h3></button>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-5"><h3>Incomplete Inspections</h3></div>
        </div>
        <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <h3>Business Details</h3>
                <h3>Average time for inspection</h3>
                <h3>How many inspections in a month</h3>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">
                <h3>Billing Information</h3>

              </div>
        </div>  

        <div id="editModal" class="popupContainerReg"  style="display:none;">
          <div class="modal-content">
            <form class="login100-form validate-form">
              <span class="login100-form-logo">
                <i class="zdmi zmdi-landscape"><img src="../../assets/images/logo.png" width="130" height="100" alt="Logo"></i>
              </span>
              <span class="login100-form-title ">Edit User</span>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter First Name">
                  <input type="text" class="input100" id="firstName" name="firstname" placeholder="First Name">
                  <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter Last Name">
                  <input type="text" class="input100" id="lastName" name="lastname" placeholder="Last Name">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter username">
                  <input type="text" class="input100" id="userNameReg" name="username" placeholder="Username">
                  <span class="focus-input100" ></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter password">
                  <input type="password" class="input100" id="passWordReg" name="password" placeholder="Password">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Enter Company Name">
                <input type="text" class="input100" id="companyName" name="username" placeholder="Company Name">
                <span class="focus-input100" ></span>
              </div>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter Email">
                  <input type="email" class="input100" id="email" name="email" placeholder="Email">
                  <span class="focus-input100" ></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter Phone Number">
                  <input type="phone" class="input100" id="phoneNum" name="phoneNumber" placeholder="Phone Number">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <a id="edit" class="login100-form-btn close" href="/editUser">Submit</a>
              </div>
            </form>
          </div>
        </div>

        <div id="addUserModal" class="popupContainerAdd" style="display:none;">
          <div class="modal-content">
            <form class="login100-form validate-form">
              <span class="login100-form-logo">
                <i class="zdmi zmdi-landscape"><img src="../../assets/images/logo.png" width="130" height="100" alt="Logo"></i>
              </span>
              <span class="login100-form-title ">Add New User</span>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter First Name">
                  <input type="text" class="input100" id="firstNAme" name="firstname" placeholder="First Name">
                  <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter Last Name">
                  <input type="text" class="input100" id="lastNAme" name="lastname" placeholder="Last Name">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter username">
                  <input type="text" class="input100" id="userNAme" name="username" placeholder="Username">
                  <span class="focus-input100" ></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter password">
                  <input type="password" class="input100" id="passWOrd" name="password" placeholder="Password">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Enter Company Name">
                <input type="text" class="input100" id="companyNAme" name="username" placeholder="Company Name">
                <span class="focus-input100" ></span>
              </div>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter Email">
                  <input type="email" class="input100" id="Email" name="email" placeholder="Email">
                  <span class="focus-input100" ></span>
                </div>
                <div class="wrap-input100 FL ln validate-input" data-validate="Enter Phone Number">
                  <input type="phone" class="input100" id="phoneNUm" name="phoneNumber" placeholder="Phone Number">
                  <span class="focus-input100" ></span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <a id="createUser" class="login100-form-btn close" href="/addUser">Submit</a>
              </div>
            </form>
          </div>
        </div>

        <div id="deleteModal" class="popupContainerAdd" style="display:none;">
          <div class="modal-content">
            <form class="login100-form validate-form">
              <span class="login100-form-logo">
                <i class="zdmi zmdi-landscape"><img src="../../assets/images/logo.png" width="130" height="100" alt="Logo"></i>
              </span>
              <span class="login100-form-title ">Delete a User</span>
              <h1>List of users</h1>
              <table id="deleteTable" class="table table-striped table-hover" style="background-color:#BFC1D2;">
                <thead class="thead-light">
                  <tr><th class="delHead" scope="col">First Name</th>
                  <th class="delHead" scope="col">Last Name</th>
                  <th class="delHead" scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each users}}
                    <tr>
                      <td>{{firstName}}</td>
                      <td>{{lastName}}</td>
                      <td>{{email}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="firstnLast">
                <div class="wrap-input100 FL validate-input" data-validate="Enter Email">
                  <input type="email" class="input100" id="delUserEm" name="email" placeholder="Email of user to Delete">
                  <span class="focus-input100"></span>
                </div>
              </div>
              <div class="container-login100-form-btn">
                <a id="delete" class="login100-form-btn close" >Submit</a>
              </div>
            </form>
          </div>
        </div>

        {{!-- have to decide and style up what we would like for the admin page.... will discuss this with shun on friday --}}
      </div>
   </div>
</div>