<div class="container-fluid dashboard" >
   <div class="row main-content">
      <div class="col-sm-2 letter-color background">
         <div class="row nav-section">
            <div class="col-sm-12 logo">
               <img src="../../assets/images/logo.png" width="150" height="100" alt="Logo">
            </div>
            <div class="col-sm-12 nav-content">

               <a class="nav-links overview" href="/home/{{route}}">
                  <img src="../../assets/images/view_icon.png" alt="Overview" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Overview</div>
               </a>
               <a class="nav-links units" href="/units/{{route}}">
                  <img src="../../assets/images/home_icon.png" alt="Home" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Units</div>
               </a>
               <a class="nav-links inspection" href="/inspection/{{route}}">
                  <img src="../../assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Inspections</div>
               </a>
               <a class="nav-links template" href="/templates/{{route}}">
                  <img src="../../assets/images/temp_icon.png" alt="Template" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Templates</div>
               </a>
               <a class="nav-links report" href="/reports/{{route}}">
                  <img src="../../assets/images/rep_icon.png" alt="Report" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Reports</div>
               </a>
            </div>
            <div class="col-sm-12 company-info">
               Hometeam Property Management
            </div>
         </div>
      </div>
      <div class="col-sm-10 main">
        <div class="row homeT">
          <div class="col-sm-10">
          <h1 id="homeTitle">Welcome to Insightful Inspection </h1>
          </div>
          <div class="col-sm-2 logOut" style="margin-bottom:15px;">
            <i class="fas fa-sign-out-alt fa-4x"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <h1>User Information</h1>
          </div>
          <div class="col-sm-5"></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6"><h1>Inspections Coming up</h1>
        </div>
        <div class="col-sm-5"><a class="login100-form-btn" href="/admin/{{route}}">Admin</a></div>
        
       </div>
      </div>
   </div>
</div>