<div class="container-fluid dashboard">
    <div class="row main-content">
        <div class="col-sm-2 letter-color background">
            <div class="row nav-section">
                <div class="col-sm-12 logo">
                    <img src="../../assets/images/logo.png" width="150" height="100" alt="Logo">
                </div>
                <div class="col-sm-12 nav-content">

                    <a class="nav-links overview" href="/home/{{route}}">
                        <img src="../../assets/images/view_icon.png" alt="Overview" class="nav-icon">
                        <div class="link-name letter-color" style="display:none">Overview</div>
                    </a>
                    <a class="nav-links units" href="/units/{{route}}">
                        <img src="../../assets/images/home_icon.png" alt="Home" class="nav-icon">
                        <div class="link-name letter-color" style="display:none">Units</div>
                    </a>
                    <a class="nav-links inspection" href="/inspection/{{route}}">
                        <img src="../../assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                        <div class="link-name letter-color" style="display:none">Inspections</div>
                    </a>
                    <a class="nav-links template" href="/templates/{{route}}">
                        <img src="../../assets/images/temp_icon.png" alt="Template" class="nav-icon">
                        <div class="link-name letter-color" style="display:none">Templates</div>
                    </a>
                    <a class="nav-links report" href="/reports/{{route}}">
                        <img src="../../assets/images/rep_icon.png" alt="Report" class="nav-icon">
                        <div class="link-name letter-color" style="display:none">Reports</div>
                    </a>
                </div>
                <div class="col-sm-12 company-info">
                    Hometeam Property Management
                </div>
            </div>
        </div>

        <div class="col-sm-10 main">
            <div class="row homeT">
                {{#each unit}}
                    <div>
                        <div>ID: <span class="">{{unit_id}}</span></div>
                        <div>ADDRESS: {{street}}</div>
                        <div>CITY: {{city}} STATE: {{state}} ZIP:{{zip}}</div>
                    </div>
                {{/each}}
                <div class="col-sm-1">
                    <button class="inspectSubmit">Submit</button>
                </div>
            </div>
                    <div class="col-sm-12">
                        <div class="inspectDetails">
                            {{#each fields}}
                                <div class="dropdownBtns" style="min-width: 370px; max-width: 370px;">
                                    <p>
                                        <button id="temp-btn-entry" class="btn" type="button" data-toggle="collapse" data-target="#{{title}}" aria-expanded="true"
                                            aria-controls="collapseExample">
                                            <img class="dropDownImg" src="https://cdn1.iconfinder.com/data/icons/universal-icons-set-for-web-and-mobile/100/controls_0-12-256.png" alt="#" height="20px" width="20px">
                                            <div id="temp-label-entry"> {{title}} </div>
                                        </button>
                                    </p>
                                    <div class="collapse" style="overflow: auto; max-height: 350px;" id="{{title}}">
                                        {{#each sections}}
                                        <div class="card card-body inspectCard" style="max-width:300px; overflow-y:hidden;">                                     
                                            <div><span class="TitleCard">{{title}}</span>
                                                <div class="center" style="max-width: 190px; margin-left: -10px;">
                                                    <input type="checkbox" name="C" class="c c-{{area}}{{title}}" id="c-{{title}}" value="Yes" />
                                                    <input type="checkbox" name="W" class="w w-{{area}}{{title}}" id="w-{{title}}" value="Yes" />
                                                    <input type="checkbox" name="U" class="u u-{{area}}{{title}}" id="u-{{title}}" value="Yes" />
                                                </div>
                                                <div class="detail-icons">
                                                    <input id="image" type="file" alt="inputPicture" src="http://www.clker.com/cliparts/i/l/9/W/l/m/camera-icon-hi.png" style="max-width:40px;max-height:40px;"
                                                        accept="image/gif, image/jpeg, image/png">
                                                    <img src="http://www.free-icons-download.net/images/save-a-web-page-button-73094.png" alt="save" style="width:30px;height:40px;">
                                                </div>
                                            </div>                                                                    
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>

                </div>
            
        </div>
    </div>
</div>