<div class="container-fluid dashboard" >
   <div class="row main-content">
      <div class="col-sm-2 letter-color background">
         <div class="row nav-section">
            <div class="col-sm-12 logo">
               Header - Our Company Name
            </div>
            <div class="col-sm-12 nav-content">

               <a class="nav-links overview" href="/home/{{route}}">
                  <img src="../assets/images/view_icon.png" alt="Overview" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Overview</div>
               </a>
               <a class="nav-links units" href="/units/{{route}}">
                  <img src="../assets/images/home_icon.png" alt="Home" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Units</div>
               </a>
               <a class="nav-links inspection" href="/inspection/{{route}}">
                  <img src="../assets/images/mag_glass.png" alt="Magnifying Glass" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Inspections</div>
               </a>
               <a class="nav-links template" href="/templates/{{route}}">
                  <img src="../assets/images/temp_icon.png" alt="Template" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Templates</div>
               </a>
               <a class="nav-links report" href="/reports/{{route}}">
                  <img src="../assets/images/rep_icon.png" alt="Report" class="nav-icon">
                  <div class="link-name letter-color" style="display:none">Reports</div>
               </a>
            </div>
            <div class="col-sm-12 company-info">
               Hometeam Property Management
            </div>
         </div>
      </div>
      <div class="col-sm-10 main">
            
            <button class="addTemplate" href="#templateModal"> Create a Template </button>
                  <button id="login" href="#loginModal" class=" login100-form-btn btn">Login</button>

      </div>

      <div id="templateModal" class="popupContainer" style="display:none;">
            <div class="modal-content-temp">
                  <form class="login100-form validate-form">
                        <span class="login100-form-title ">Template</span>
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="Template Name">
                              <span class="focus-input100" data-placeholder="&#xf007;"></span>
                        </div>
                        <div class="temp-text">
                              <button id="entryToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Entry
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Entries">
                        </div>
                        <div class="temp-text">
                              <button id="bedroomToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Bedroom
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Bedrooms">
                        </div>
                        <div class="temp-text">
                              <button id="bathroomToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Bathroom
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Bathrooms">
                        </div>
                        <div class="temp-text">
                              <button id="hallsToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Halls
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Halls">
                        </div>
                        <div class="temp-text">
                              <button id="stairsToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Stairs
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Stairs">
                        </div>
                        <div class="temp-text">
                              <button id="kitchenToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Kitchen
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Kitchen's">
                        </div>
                        <div class="temp-text">
                              <button id="livingroomToggle" type="button" class="btn temp-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    Livingroom
                              </button>
                              <input type="text" class="input100" id="temp-title" name="title" placeholder="# of Livingroom's">
                        </div>
                        <div class="temp-text template-submit-btn">
                              <a id="tempSubBtn" class="temp-submit close" >Submit Template</a>
                        </div>
                  </form>
            </div>
      </div>