
<div class="col-sm-9">
   <table class="table table-striped table-hover" style="background-color:#BFC1D2;">
      <thead class="thead-light">

         <tr>
            <th scope="col">Address</th>
         </tr>
      </thead>
      <tbody>
         {{#each units}}
            <tr>            
                <td>{{street}}<button class="startIns" href="#startInsp" data-id="{{unit_id}}" data-street="{{street}}">Start Inspection</button></td>           
            </tr>
         {{/each}}        
      </tbody>
   </table>
</div>
<div class="col-sm-3">
    <button class="addUnit button" href="#addUnitModal">Add Unit</button>
</div>

<div id="startInsp" class="popupContainer" style="display:none;">
    <div class="modal-content">
        <form class="login100-form validate-form" name="loginForm">
            <span class="login100-form-logo">
                <i class="zdmi zmdi-landscape">
                    <img src="../../assets/images/logo.png" width="130" height="100" alt="Logo">
                </i>
            </span>
           
            <div id="addresTitle">
                <h1>{{street}}</h1>
            </div>

            <div class="container-login100-form-btn">
                <a id="inspectStart" class="login100-form-btn close" href="/inspectdash/{{route}}">Start Inspection</a>
            </div>
           
        </form>
    </div>
</div>


